.homepage {
  margin-top: 15%;
}

.homepage .row {
  margin: 0
}

.homepage h1 {
  text-align: center;
  margin-bottom: 20px;
}

.homepage .input-group {
  margin-top: 15px;
}

.homepage .input-group-btn {
  width: 1px !important;
}

.homepage h2 {
  text-align: center;
  font-size: 12px;
  margin-top: 15px;
  font-weight: 300;
  display: block;
}

.homepage h1 > a {
  display: block;
  font-size: 48px;
  color: #333;
  font-weight: 300;
}

.homepage a:hover {
  text-decoration: none;
}

.homepage-field {
  display: block;
  width: 100%;
}

.homepage-field .input-group{
  width: 100%;
}
