.music-list li {
  cursor: pointer;
  font-weight: 300;
}
.music-list li:hover {
  background: #fafafa;
}
.music-list li:active {
  background: #eee;
}

.music-list.list-group-item:first-child {
  border-radius: 0;
}
.music-list li.list-group-item {
  border-left: none;
  border-right: none;
}

.music-list.list-group-item:last-child {
  border-radius: 0;
}

.music-list > .list-group-item.active {
  color: #444;
  background: #eee;
  border: 1px solid #bbb;
  border-right: none;
  border-left: none;
}

.social-info {
  margin-top: 1px;
  font-size: 10px;
  font-weight: 600;
  display: block;
}
.social-info > span {
  margin-right: 5px;
}

.info-likes, .info-duration {
  float: right;
}
