html, body {
  background: #fff;
  color: #222;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  padding: 0;
}

a {
  color: #333;
  &:hover {
    color: #333;
    text-decoration:none;
    cursor: pointer;
  }
}

input, .input-group, .form-control, .btn {
  border-radius: 0
}

@media (max-width: 767px) {
  .navbar-form > .input-group {
    width: 100%;
  }
  .player-infos {
    text-align: center;
  }
  .player-about {
    display: none;
  }
  .player-controls .player-infos h3 {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-form > .input-group {
    width: 205px;
  }
  .player-infos {
    padding: 0;
    text-align: center;
    h3 {
      font-size: 12px;
    }
  }
  .player-about {
    padding: 0;
    display: none;
  }
  .player-controls .player-infos h3 {
    font-size: 12px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-form > .input-group {
    width: 425px;
  }
}

@media (min-width: 1200px) {
  .navbar-form > .input-group {
    width: 625px;
  }
}
