.navbar-default {
  padding: 2px 0;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #eee;
  border-radius: 0px;
  margin-bottom: 20px;
}

.navbar-default .navbar-brand {
  padding: 8px;
  font-size: 28px;
  font-weight: 300;
  color: #333;
}
